.images {
  width: 100%;
  padding: 20px 40px;
}

.images-container {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}

.image-container {
  position: relative;
}

.image {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.remove-image-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255,0,0,0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(255,0,0,1);
  }
}

.upload-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}