<div class="upload-container">
  <h2 class="header">Upload image file</h2>
  <input 
    type="file" 
    (change)="onFileSelected($event)"
    accept="image/*"
    #fileInput
    style="display: none"
  >
  @if(previewUrl()) {
    <div class="preview-section">
      <img [src]="previewUrl()" alt="Preview" class="preview-image">
      <button 
        class="remove-image-btn" 
        (click)="clearPreview()">
        ✕
      </button>
      <p>{{fileName()}}</p>
    </div>
  }

  <div class="upload-controls">
    <button 
      class="select-button" 
      (click)="fileInput.click()">
      {{ previewUrl() ? 'Change Photo' : 'Select Photo' }}
    </button>
    <button 
      class="upload-button" 
      (click)="uploadImage()"
      [disabled]="uploadButtonDisabled()">
      Upload Photo
    </button>
    <button class="cancel-button" (click)="cancelUpload()" 
      [disabled]="!uploading()">
      Cancel upload
    </button>
  </div>

  @if(uploading()) {
    <div class="progress-section">
      <p>Uploading file: {{fileName()}}</p>
      <app-progress-bar [progress]="uploadProgress()"></app-progress-bar>
    </div>
  }

  @if(imageUrl()) {
    <div class="uploaded-image-section">
      <h3>Uploaded Image:</h3>
      <img [src]="imageUrl()" alt="Uploaded Profile photo" class="uploaded-image">
    </div>
  }

  @if(errorMessage()) {
    <div class="error-message">
      {{ errorMessage() }}
    </div>
  }
</div>